<h1><%= @book.title %></h1>
<p><strong>Cena: </strong><%= @book.price %> zl<br />
<strong>Temat:</strong> <%= @book.subject.name %><br />
</p>
<p><%= @book.description %></p>
<hr />
<%= link_to 'Zabierz mnie na poprzednia strone, prosze.', {:action => 'index'} %>